<div class="root">
    <form class="box back-gradient border">
        <div class="header">Новый проект</div>
        <label class="row">Имя проекта</label>
        <input class="row border" type="text" name="name" [(ngModel)]="name" />
        <label class="row">Описание</label>
        <textarea class="row border more" type="text" name="desc" [(ngModel)]="desc"></textarea>
        <label class="row">Требуемые средста</label>
        <input class="row border" type="number" name="money" [(ngModel)]="money" />
        <label class="row">Дата</label>
        <input class="row border" type="date" name="password1" [(ngModel)]="date" />
        <div class="row">
            <div class="buttons">
                <button class="sh_sm register button action border" (click)="create_project()">
                    Создать проект
                </button>
            </div>
        </div>
        <div *ngIf="this.prerr" class="sh_sm row warning border">
            Неверные данные для нового проекта
        </div>

    </form>

</div>