/* inter-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('/assets/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.line {
    height: 66px;
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(253, 137, 0, 0.7);
}

.name {
    position: absolute;
    left: 3.44%;
    right: 85.2%;
    top: 6.06%;
    bottom: 13.64%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.search {
    position: absolute;
    left: 28.72%;
    right: 65.76%;
    top: 28.79%;
    bottom: 27.27%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
}

.stroke {
    position: absolute;
    left: 35.12%;
    right: 41.28%;
    top: 19.7%;
    bottom: 19.7%;

    background: #DCD9D9;
    border-radius: 22px;
}

.button-find {
    position: absolute;
    left: 59.6%;
    right: 33.92%;
    top: 19.7%;
    bottom: 19.7%;

    background: #74297D;
    border: 1px solid #000000;
    border-radius: 10px;
}

.find {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    margin: auto;
    color: #FFAF51;
}

.button-sign-in {
    position: absolute;
    left: 75.36%;
    right: 15.04%;
    top: 19.7%;
    bottom: 19.7%;

    background: #74297D;
    border: 1px solid #000000;
    border-radius: 10px;
}

.sign-in {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    margin: auto;
    color: #FFAF51;
}

.button-profile {
    position: absolute;
    left: 86.72%;
    right: 3.68%;
    top: 19.7%;
    bottom: 19.7%;

    background: #74297D;
    border: 1px solid #000000;
    border-radius: 10px;
}

.profile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;

    margin: auto;
    color: #FFAF51;
}