<div class="img-box"> </div>

<div class="name-box">
    <p class="name">{{project['name']}}</p>
    <p class="author">Автор {{project['author']['user']['username']}}-{{project['author']['user']['email']}}</p>
    <p class="rating">Рейтинг: {{project['author']['rating']}} из 5</p>
    <p class="collect">Собрано {{project['currentMoney']}} руб. из {{project['needMoney']}} руб.</p>
    <p class="tern">Дата окончания сборов {{date}}</p>
    <button *ngIf="this.role=='1'" class="action invest" (click)="donate()">Инвестировать</button>
</div>

<div class="description-box">
    <p class="header">Описание проекта</p>
    <p class="content">{{project['description']}}</p>
</div>

<div *ngIf="false" class="news-box">
    <p class="header">Новости проекта:</p>
    <div class="news">
        <p class="header">Итоги и цели</p>
        <p class="content">Давайте поговорим про будущее и уже достигнутые цели.</p>
    </div>
</div>