.header {
    text-align: center;
    font-family: 'Inter';
    font-size: 2.3em;
    padding: 30px;
}

.profile-box {
    position: absolute;
    width: 20%;
    height: 80%;
    left: 5%;
    top: 25%;

    border-radius: 50px;
    border: none;

    font-family: 'Inter';
    font-size: 1.3em;
}

div.avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 65%;
    height: 35%;
    background-color: gray;
}

button.profile {
    position: absolute;

    width: 60%;
    height: 7%;
    top: 89%;
    bottom: 10%;

    margin-left: 15%;

    background: #74297D;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Inter';
    color: #FFAF51;
}

.projects-box {
    position: absolute;
    width: 54%;
    height: 85%;
    left: 40%;
    top: 23%;

    background: url('/assets/img/cyc9WB0JeJw.jpg');
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;
}

.project {
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    /*list-style-image: ;*/
    font-size: 2em;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}