<div class="header">Личный кабинет</div>

<div class="profile-box">
    <div class="header">Мои данные</div>
    <div class="avatar"></div>
    <div class="profile">
        <p>Имя: {{"Иван"}}</p>
        <p>Почта: {{"q@gmail.com"}}</p>
        <p>Номер: {{"123456789"}}</p>
    </div>
    <button class="profile button action border cf">Редактировать профиль</button>
</div>
<div class="projects-box">
    <div class="header">Мои проекты</div>
    <div class="projects">
        <div class="project" *ngFor="let projectID of ['бла', 'два' , '123']"><a [routerLink]="['/project', projectID]"
                routerLinkActive="active" ariaCurrentWhenActive="page">Проект
                {{projectID}}</a></div>
    </div>
</div>