.header {
    padding: 30px;
}

.profile-box {
    position: absolute;
    width: 20%;
    height: 80%;
    left: 5%;
    top: 23%;

    border-radius: 50px;
    padding: 50px;

    font-family: 'Inter';
    font-size: 1.3em;
}

div.avatar {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200pt;
    height: 200pt;
    background-color: gray;
}

button.profile {
    position: absolute;

    top: 89%;
    bottom: 10%;
    font-size: 2ex;
    margin-left: 15%;
    height: fit-content;
}

.projects-box {
    position: absolute;
    width: 54%;
    height: 80%;
    left: 40%;
    top: 23%;

    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;
}

.project {
    text-align: left;
    padding: 10px;
    padding-left: 50px;
    /*list-style-image: ;*/
    font-size: 2em;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    text-align: center;
}

.pblock {
    padding: 10px;
    background-color: white;
}

.ph {
    font-family: 'Inter';
    font-size: 24pt;
}

.pt {
    font-family: 'Inter';
    font-size: 15pt;
}