<div class="root">
    <form class="box back-gradient border">
        <div class="header">Вход</div>
        <label class="row">Логин</label>
        <input class="row border" type="text" name="login" [(ngModel)]="login" />
        <label class="row">Пароль</label>
        <input class="row border" type="password" name="password" [(ngModel)]="password" />
        <div class="row">
            <div class="buttons">
                <button class="sh_sm login button action border" (click)="login_user()">Вход</button>
                <div class="button-space"></div>
                <button class="sh_sm register button action border" (click)="reg_redirect()">
                    Регистрация
                </button>
            </div>
        </div>
        <div *ngIf="is_login_valid==false" class="sh_sm row warning border">
            Неверный логин или пароль
        </div>
    </form>

</div>