<!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
<!--
<nav>
    <fieldset>
        <legend>Страницы на проекты</legend>
        <ul>
            <li><a [routerLink]="['/project', '1']" routerLinkActive="active" ariaCurrentWhenActive="page">Проект 1</a>
            </li>
            <li><a [routerLink]="['/project', '2']" routerLinkActive="active" ariaCurrentWhenActive="page">Проект 2</a>
            </li>
            <li><a [routerLink]="['/project', '999']" routerLinkActive="active" ariaCurrentWhenActive="page">Проект
                    99</a>
            </li>
        </ul>
    </fieldset>
</nav>
-->
<div class="main-box">
    <div class="info">Краудфандинговая платформа
        для IT проектов Инвестируйте с выгодой или
        публикуйте сюда идеи стартапов для
        финасирования</div>
    <button class="button-create">
        <div class="create">Создать проект</div>
    </button>
    <button class="button-begin">
        <div class="begin">Начать инвестировать</div>
    </button>
</div>

<div class="top-box">
    <div class="proj-box">
        <div class="proj">Самы популярные проекты</div>
    </div>
    <div class="inv-box">
        <div class="inv">Лучшие инвесторы</div>
    </div>
</div>

<div class="premium-box">
    <div class="premium-info">Хотите чтобы ваш стартап заметили?
        Тогда наша премиум-подписка для вас!</div>
    <button class="button-premium">
        <div class="premium">Оформить подписку</div>
    </button>
</div>