.main-box {
    width: 1400px;
    height: 294px;

    position: relative;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('/assets/img/cyc9WB0JeJw.jpg');
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;

    padding: 20px 20px 100px 100px;
}

.info {
    text-align: justify;
    color: #000000;
}

.info_h {
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
}

.button-create {
    position: absolute;
    left: 11.4%;
    right: 60.97%;
    top: 69.73%;
    bottom: 13.27%;
}

.create {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    margin: auto;

    color: #FFAF51;
}

.button-begin {
    position: absolute;
    left: 60.88%;
    right: 11.49%;
    top: 69.73%;
    bottom: 13.27%;
}

.begin {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    margin: auto;

    color: rgba(69, 0, 215, 0.85);
}

.top-box {
    position: relative;
    width: 1400px;
    height: 560px;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
}

.proj-box {
    position: absolute;
    width: 790px;
    height: 560px;
    left: 0px;

    background-image: url('/assets/img/cyc9WB0JeJw.jpg');
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;
}

.proj {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
}

.inv-box {
    position: absolute;
    width: 470px;
    height: 560px;
    right: 0px;

    background-image: url('/assets/img/cyc9WB0JeJw.jpg');
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;
}

.inv {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
}



.premium-box {
    position: relative;
    width: 1400px;
    height: 294px;
    top: 300px;
    margin-left: auto;
    margin-right: auto;

    background-image: url('/assets/img/cyc9WB0JeJw.jpg');
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 50px;
}

.premium-info {
    position: absolute;
    left: 9.5%;
    right: 43.36%;
    top: 15.65%;
    bottom: 50%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;

    color: #000000;
}

.button-premium {
    position: absolute;

    left: 60.88%;
    right: 11.49%;
    top: 70.07%;
    bottom: 12.93%;

    background: rgba(255, 175, 81, 0.45);
    border: 1px solid #000000;
    border-radius: 10px;
}

.premium {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: rgba(69, 0, 215, 0.85);
}