@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('/assets/fonts/inter-v12-cyrillic_latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.action {
    cursor: pointer;
    transition: 0.3s;
}

.action:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hoversh {
    transition: 0.3s;
}

.hoversh:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.round {
    border-radius: 50px;
}

.rounds {
    border-radius: 20px;
}

input:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.back-gradient {
    background: linear-gradient(145deg, rgba(254, 172, 76, 1) 0%, rgba(116, 41, 124, 1) 100%);
}

.border {
    border: 1px solid #555;
    border-radius: 10px;
}

.cy {
    color: rgb(155, 69, 165);
    background-color: rgb(254, 172, 76);
    padding: 0px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.cf {
    color: hsl(32, 99%, 65%);
    background-color: rgb(155, 69, 165);
    padding: 0px 20px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.font_small {
    font-family: 'Inter';
    font-size: 10pt;
}

.font_normal {
    font-family: 'Inter';
    font-size: 20pt;
}

.font_big {
    font-family: 'Inter';
    font-size: 30pt;
}

.sh_sm {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sh_big {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}